<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>


    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="akdeniz" x="0px" y="0px" "="" viewBox="0 0 280 207" enable-background="new 0 0 280 207" xml:space="preserve">

     <a xlink:href="#" onclick="toggleTable('Adana')">
        <g id="il-1" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="237.521,65.634 232.014,93.273 231.018,93.289 224.973,93.362 223.883,95.48    215.416,111.936 217.059,114.884 216.037,117.531 219.572,116.104 222.128,118.148 221.898,122.95 221.896,122.959    221.486,127.709 219.165,129.962 207.857,137.262 208.748,137.339 209.415,136.818 211.796,136.828 209.486,139.477    209.432,141.215 207.383,142.555 205.18,141.438 199.841,144.566 185.667,136.482 187.488,134.896 187.492,134.896    190.042,132.682 190.719,132.092 190.896,121.759 186.863,121.313 180.895,106.754 181.252,106.439 181.6,103.24 183.92,101.195    182.714,94.392 189.839,93.428 193.884,89.336 206.727,90.589 230.154,59.994 234.18,59.949 236.051,64.187 236.773,64.364  "></polygon>
                <text transform="matrix(1 0 0 1 196.6563 112.3262)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ADN</text>
        </g>        
     </a>
   
     <a xlink:href="#" onclick="toggleTable('Antalya')">
        <g id="il-7" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="110.287,152.667 109.659,161.447 109.659,161.451 109.128,164.337 70.31,134.672    70.062,133.551 47.471,129.504 38.125,157.469 33.959,154.98 30.288,155.594 28.364,158.115 27.88,157.438 26.728,157.314    24.679,159.161 22.801,158.832 21.899,159.512 21.74,160.738 16.832,163.129 16.636,162.543 16.992,161.867 16.251,161.354    14.441,162.74 5.428,156.896 4.052,157.996 1,155.459 2.589,154.25 3.276,148.868 6.419,147.021 7.408,147.441 14.322,127.098    15.079,127.855 16.018,127.787 32.974,110.921 37.792,111.885 39.162,114.264 51.539,113.348 52.544,111.916 52.98,111.295    52.98,111.293 55.732,107.361 56.827,108.768 69.086,105.604 71.498,107.113 71.96,109.021 101.733,126.064 100.331,127.701    101.387,130.954 103.608,131.204  "></polygon>
            <text transform="matrix(1 0 0 1 56.2866 123.8223)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ANT</text>
        </g>
     </a>
  

    <a xlink:href="#" onclick="toggleTable('Burdur')">
        <g id="il-15" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="56.827,108.768 55.732,107.361 52.98,111.293 52.98,111.295 52.544,111.916    51.539,113.348 39.162,114.264 37.792,111.885 32.974,110.921 16.018,127.787 15.079,127.855 14.322,127.098 10.375,123.139    5.523,126.831 11.366,104.506 9.861,103.433 10.085,98.579 14.448,95.292 15.1,94.803 15.103,94.801 19.86,91.218 26.702,88.668    29.751,87.529 36.846,87.877 52.778,105.049 54.808,105.344  "></polygon>
            <text transform="matrix(1 0 0 1 20.6479 105.6035)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BUR</text>
        </g>    
    </a>

   
    <a xlink:href="#" onclick="toggleTable('Hatay')">
        <g id="il-31" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="243.691,157.961 234.354,159.964 232.889,168.41 230.996,168.611    230.947,170.042 228.587,169.794 226.672,176.031 226.209,176.327 221.701,173.143 221.302,171.652 218.909,171.762 220.54,168.32    214.17,154.259 227.896,140.049 221.486,127.709 221.896,122.959 221.887,123.254 221.889,123.254 231.557,125.369 232.157,125.9    237.087,127.611 242.991,131.986 240.195,150.467 241.283,151.107 241.427,153.288 243.131,154.768  "></polygon>
            <text transform="matrix(1 0 0 1 224.2178 154.9824)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">HTY</text>
        </g>
    </a>
    

    <a xlink:href="#" onclick="toggleTable('Isparta')">
        <g id="il-32" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="78.131,74.193 78.001,76.234 71.522,81.83 70.751,95.084 68.748,95.49    69.086,105.344 56.827,108.508 54.808,105.088 52.778,104.79 36.846,87.619 29.751,87.271 31.895,86.475 32.15,81.916 60.628,57.3    65.327,61.001 65.933,60.953 72.398,70.885 73.877,71.308 74.942,71.615 76.014,73.899  "></polygon>
            <text transform="matrix(1 0 0 1 49.7568 84.2764)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ISP</text>
        </g>
    </a>
   

    <a xlink:href="#" onclick="toggleTable('Mersin')">
        <g id="il-33" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="190.896,121.759 190.719,132.092 190.042,132.682 187.492,134.896    187.488,134.896 187.189,135.016 185.667,136.482 181.436,132.639 158.262,150.822 158.404,154.338 154.053,158.941    153.447,155.484 151.902,154.723 145.658,162.335 144.389,160.061 140.58,162.85 138.426,161.479 127.833,162.82 126.609,164.23    126.606,164.791 109.128,164.337 109.659,161.451 109.659,161.447 110.287,152.667 112.079,148.301 125.553,147.325    127.139,143.557 130.304,144.652 128.949,140.844 126.445,139.466 126.445,139.464 122.557,132.604 126.516,130.627    127.291,132.259 128.905,132.156 130.477,127.68 156.533,118.479 157.163,118.098 164.979,113.359 172.895,110.074    180.895,106.754 186.863,121.313  "></polygon>
            <text transform="matrix(1 0 0 1 143.6045 139.877)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">MER</text>
        </g>
    </a>
   

    <a xlink:href="#" onclick="toggleTable('Maraş')">
        <g id="il-46" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="268.094,97.991 274.264,103.085 273.08,107.113 255.329,113.5 252.34,112.292    251.563,108.678 249.434,108.25 247.861,111.281 245.369,111.923 245.367,111.923 244.979,112.023 239.085,107.216    229.706,107.889 231.02,93.57 231.018,93.289 232.014,93.273 237.521,65.634 245.484,54.09 256.538,53.957 256.561,53.957    262.587,53.884 260.855,59.974 279,66.772 269.986,92.577 267.311,93.797  "></polygon>
            <text transform="matrix(1 0 0 1 248.4482 83.502)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">MRŞ</text>
        </g>
    </a>
   

    <a xlink:href="#" onclick="toggleTable('Osmaniye')">
        <g id="il-80" style="opacity: 1;">
            <polygon fill="#137bbb" stroke="#FFFFFF" points="245.367,111.923 237.087,127.611 232.157,125.9 231.557,125.369 221.889,123.254    221.887,123.254 221.896,122.959 221.898,122.95 222.128,118.148 219.572,116.104 216.037,117.531 217.059,114.884    215.416,111.936 223.883,95.48 224.973,93.362 231.018,93.289 231.02,93.57 229.706,107.889 239.085,107.216 244.979,112.023  "></polygon>
            <text transform="matrix(1 0 0 1 224.6934 118.126)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">OSM</text>
        </g>
    </a>
    
    </svg>

    
            
 

     
    <%- include("partials/akdenizbars.ejs") %>
    <%- include("partials/tables.ejs") %>
    <script src="/tablo_kontrol.js"></script>
     
</body>
</html>


