<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>İl Seçiniz</h1>



    <svg version="1.1" id="dogu-anadolu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 280 207" style="enable-background:new 0 0 280 207;" xml:space="preserve">

        <a xlink:href="#" onclick="toggleTable('Ağrı')">
            <g id="il-4" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="254.7,84.9 254.7,85 251.3,97.9 240.3,98.3 240.3,99.7 229.8,98.9 226.1,102.2 218.9,97.8 
                    208.2,102.7 210.9,105.7 209.7,110.2 206.1,112.3 205.9,114.7 205.5,114.8 195.9,116.9 190.2,99.8 188.7,92.7 189.3,84.3 
                    180.8,77.2 191,73 196.2,74.6 218,68.2 213.4,71.1 216.9,72.4 218.8,75.5 218.4,79.7 222,80.7 223,78.9 226.8,79.3 227,79.6 
                    227,79.8 	"></polygon>
                <text transform="matrix(1 0 0 1 209.5195 90.3818)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">AĞR</text>
            </g>
        </a>
      

        <a xlink:href="#" onclick="toggleTable('Bingöl')">
            <g id="il-12" style="opacity: 1;">
                <polygon fill="#ed9600" stroke="#FFFFFF" points="144.6,119.4 146.9,128.2 123.6,132.8 122.5,137.6 115.9,139 115.9,138.7 115.3,128.1 116.7,128.2 
                    119,124.9 115.7,118.5 116.4,116.2 116.4,116.2 119,106.6 117.4,106 107.2,111.2 107.7,100.3 112.5,99.4 113,98.5 121.2,95.5 
                    123.7,92.6 126.9,92 127,91.9 135.1,90.5 146,99.3 146.3,99.6 145.4,100.6 147.5,108.2 148,110.1 148.3,114.4 	"></polygon>
                <text transform="matrix(1 0 0 1 125.0317 116.1514)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BNG</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Bitlis')">
            <g id="il-13" style="opacity: 1;">
                <polygon fill="#ed9600" stroke="#FFFFFF" points="210.9,121.3 209,124.8 208.8,125 200.5,125 191.9,128.2 192.3,132 188.2,135.4 188.2,137.2 
                    192.3,136.2 196,135.4 198.9,136.8 195.4,141.1 196.3,150.6 198.4,152.7 197.9,161.6 197.1,161.7 196.3,163 174.2,149.8 
                    164.5,152.3 161.8,150.6 158.3,157.3 160.6,138.5 157.3,135.7 158.3,133.5 169.5,133.6 174.1,129.2 172.6,123.7 176.8,123.1 
                    177.2,120.9 195.7,118.6 195.6,117.7 195.3,117 195.9,116.9 205.5,114.8 205.6,114.8 210.3,118.8 208.3,119.1 207.8,121.3 	"></polygon>
                <text transform="matrix(1 0 0 1 173.4062 141.459)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BTL</text>
            </g>
        </a>
        

        <a xlink:href="#" onclick="toggleTable('Elazığ')">
            <g id="il-23" style="opacity: 1;">
                <polygon fill="#ed9600" stroke="#FFFFFF" points="115.7,118.5 119,124.9 116.7,128.2 115.3,128.1 115.9,138.7 115.9,139 77.6,145.2 77.5,145.4 
                    75.8,145.3 72.3,146.2 52.1,137.2 53.3,130.6 55,130 56,127.2 58.1,126.7 59.7,127.5 61.1,126.3 60.6,114.8 62.3,114.5 62.4,114.5 
                    64,114.3 64,114.3 64.5,114.2 66,117.4 66.2,117.7 66.1,117.8 65.5,119.8 67.1,121.7 99,123.7 100.7,120.4 102.1,120.4 103,116 
                    101.7,114.6 117.4,106 119,106.6 116.4,116.2 116.4,116.2 	"></polygon>
                <text transform="matrix(1 0 0 1 74.8384 134.2744)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ELĞ</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Erzincan')">
            <g id="il-24" style="opacity: 1;">
                <polygon fill="#137bbb" stroke="#FFFFFF" points="128.4,84.1 127,91.9 126.9,92 123.7,92.6 124.4,91.7 123,91.5 67.1,101.6 67.4,103.6 68.3,104.2 
                    65.2,106 65.3,108 63.9,109.1 64.7,113.8 64,114.3 64,114.3 62.4,114.5 59.1,112.9 59,112.9 59,112.9 59,112.9 59,112.9 52,109.6 
                    51.5,109.2 52.9,107.8 51.8,99.8 54,96.8 54,96.8 54,96.8 54,96.8 52.2,85.4 55.8,80.1 57.9,79.8 55.1,78 53.1,78.8 52.4,76.9 
                    53.6,72.9 57.8,74.1 61.8,72.3 64,73 65.2,71.4 64.8,69.6 64.6,69.1 64.6,69.1 64.6,69 80.6,71.9 81.1,73.5 95.4,74 98.3,73.3 
                    98.3,73.3 98.3,73.3 115.3,68.5 115.3,69.3 114.8,75.1 123,76 124.6,82.1 	"></polygon>
                <text transform="matrix(1 0 0 1 79.0522 87.4551)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ERN</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Erzurum')">
            <g id="il-25" style="opacity: 1;">
                <polygon fill="#ed9600" stroke="#FFFFFF" points="180.8,77.2 189.3,84.3 188.7,92.7 179.9,96.9 180.3,99.1 167.8,108.4 152.1,98.5 146,99.3 135.1,90.5 
                    127,91.9 128.4,84.1 124.6,82.1 123,76 114.8,75.1 115.3,69.3 115.3,68.5 132.1,62.6 132.7,62.4 132.7,60.7 124.8,57.2 123.1,47.2 
                    133.7,42.4 133.5,41 142,33.9 143.9,34.4 151.2,36.2 152.2,38.1 150.5,41.9 151.2,44.7 152.4,45.5 161.8,41.2 167.6,44.3 169,41.2 
                    172.4,33.9 171.8,32.2 173.3,29.3 174.1,29.1 174.4,28.7 182,27.5 182,27.5 182,27.5 182.6,27.3 182.8,27.3 182.8,27.3 183,27.7 
                    183.1,28.2 184.5,33 184.6,33 184.6,33 190.2,51.6 176.8,59.3 191,73 	"></polygon>
                <text transform="matrix(1 0 0 1 152.9844 75.3174)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ERM</text>
            </g>
        </a>
        

        <a xlink:href="#" onclick="toggleTable('Hakkari')">
            <g id="il-30" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="263.9,195.3 264.4,197.2 250.3,202.7 249.1,206 247.7,206 245.6,199 247.1,198.1 247.4,195.8 
                    245.3,192.1 239.8,190.8 235.4,195.2 234.5,195 233.3,196.1 217,190.4 222.2,173.1 222.3,172.8 226,171.9 242.3,167.6 243.6,168.6 
                    243,173.4 253.5,170 253.5,170.5 256.1,170 259.1,174 257.3,174.9 257.3,177.2 258.8,178.4 258.1,185.3 262.6,187.9 263,189.6 
                    264.8,190.6 265.8,192.5 	"></polygon>
                <text transform="matrix(1 0 0 1 236.9492 185.9141)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">HKR</text>
            </g>
        </a>
        

        <a xlink:href="#" onclick="toggleTable('Kars')">
            <g id="il-36" style="opacity: 1;">
                <polygon fill="#137bbb" stroke="#FFFFFF" points="227.9,59.6 228.5,65 218.3,66.1 218,68.2 196.2,74.6 191,73 176.8,59.3 190.2,51.6 184.6,33 
                    189.9,41.3 201.1,40.4 202.9,31.3 214.3,27.4 215.4,23.7 220.5,23 230.3,41 224.2,50.9 226.1,53.4 225.5,57.1 	"></polygon>
                <text transform="matrix(1 0 0 1 200.9902 53.7412)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KRS</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Malatya')">
            <g id="il-44" style="opacity: 1;">
                <polygon fill="#ed9600" stroke="#FFFFFF" points="77.5,145.6 77.5,145.6 76.9,149.5 76.6,151.8 73.4,152.4 69.1,156.1 59.7,155 59.1,153.2 60.3,151 
                    58.6,149.9 55.7,151 54.9,150.7 54,151.6 54,151.6 52.2,152.3 50.5,155.2 50.5,155.2 46.4,159.4 46.2,162.6 25.9,168.1 32.6,146.8 
                    14.2,139.9 15.9,133.8 16.4,133.8 26.8,123.2 25.8,115.1 32.5,117 42.4,112.1 43.6,112.5 44.4,112.7 48,110.7 48,110.7 52.9,107.8 
                    51.5,109.2 52,109.6 59,112.9 59,112.9 59,112.9 59,112.9 59.1,112.9 62.3,114.5 60.6,114.8 61.1,126.3 59.7,127.5 58.1,126.7 
                    56,127.2 55,130 53.3,130.6 52.1,137.2 72.3,146.2 75.8,145.3 77.5,145.4 	"></polygon>
                <text transform="matrix(1 0 0 1 34.4243 140.7871)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">MLT</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Muş')">
            <g id="il-49" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="195.6,117.7 195.7,118.6 177.2,120.9 176.9,123.1 172.6,123.7 174.1,129.2 169.5,133.6 158.3,133.6 
                    157.3,135.7 156.9,135.8 156.7,135.6 153.6,136.6 153.6,136.6 151.9,135.2 152.6,132.7 147.2,128.4 146.9,128.2 144.6,119.4 
                    148.3,114.4 148,110.1 147.4,108.2 145.4,100.6 146.3,99.6 146,99.3 152.1,98.5 167.9,108.4 180.3,99.1 179.9,96.8 188.7,92.7 
                    190.2,99.8 195.9,116.9 195.3,117 	"></polygon>
                <text transform="matrix(1 0 0 1 162.0859 118.5488)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">MUŞ</text>
            </g>
        </a>
        

        <a xlink:href="#" onclick="toggleTable('Tunceli')">
            <g id="il-62" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="124.4,91.7 123.7,92.6 121.2,95.5 113,98.5 112.5,99.4 107.7,100.3 107.2,111.2 117.4,106 
                    101.7,114.6 103,116 102.1,120.4 100.7,120.4 99,123.7 67.1,121.7 65.5,119.8 66.1,117.8 66.2,117.7 66,117.4 64.5,114.2 64,114.3 
                    64.7,113.8 63.9,109.1 65.3,108 65.2,106 68.3,104.2 67.4,103.6 67.1,101.6 123,91.5 	"></polygon>
                <text transform="matrix(1 0 0 1 81.4644 112.207)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">TUN</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Van')">
            <g id="il-65" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="253.4,168.7 253.5,170 243,173.4 243.7,168.6 242.3,167.6 226,171.8 222.3,172.8 222.2,173.1 
                    208.7,170.8 207.3,172.1 206.8,171.8 201.7,162.3 197.9,161.6 198.4,152.7 196.3,150.6 195.4,141.1 198.9,136.8 201.2,138 
                    203.3,135.4 205.4,136.8 206.2,141.1 210.9,141.1 214.2,138 217.1,132.8 211.7,130 212.1,127.9 215.3,122.5 219.7,120.9 
                    224.4,117.7 217.4,116.2 215.4,118 210.3,118.8 205.6,114.8 205.8,114.7 206.1,112.3 209.7,110.2 210.9,105.7 208.2,102.7 
                    218.9,97.8 226.1,102.2 229.8,98.9 240.3,99.7 245.9,120.9 248.4,122.3 247.5,130.8 248.8,131.7 248.7,142.9 254.5,144.5 
                    251.8,150.8 252.4,151.4 246.7,165.5 248.1,166.2 249.5,165.2 	"></polygon>
                <text transform="matrix(1 0 0 1 224.9349 144.6749)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">VAN</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Ardahan')">
            <g id="il-75" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="221.1,20.6 220.5,23 215.4,23.7 214.3,27.4 202.9,31.3 201.1,40.4 189.9,41.3 184.6,33 184.6,33 
                    184.5,33 183.1,28.2 183,27.7 182.8,27.3 182.8,27.3 191.7,16.7 188,7.7 189.1,7.1 191.8,1.3 200.2,1 198.8,4 200.1,5.8 202.2,4.7 
                    212.4,13.6 210.1,15.5 212.1,15.5 213.9,19 217.9,17.7 	"></polygon>
                <text transform="matrix(1 0 0 1 195.0254 23.6416)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ARD</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Iğdır')">
            <g id="il-76" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="265.6,87 227,79.8 226.8,79.3 223,78.9 222,80.7 218.4,79.7 218.8,75.5 216.9,72.4 213.4,71.1 
                    218,68.2 218.3,66.1 228.5,65 238.3,69 249.2,69.9 	"></polygon>
                <text transform="matrix(1 0 0 1 228.5527 75.5811)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">IĞD</text>
            </g>
        </a>
       
        </svg>

        <%- include("partials/doguanadolubars.ejs") %> 
      <%- include("partials/tables.ejs") %> 
      <script src="/tablo_kontrol.js"></script>
</body>
</html>
<%- include("partials/footer.ejs") %>