<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>İl Seçiniz</h1>




    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ege" x="0px" y="0px" "="" viewBox="0 0 280 207" enable-background="new 0 0 280 207" xml:space="preserve">

        <a xlink:href="#" onclick="toggleTable('Afyonkarahisar')">
            <g id="il-3" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="254.961,55.529 233.775,85.338 227.756,80.598 191.279,112.125 190.951,117.967    188.206,118.988 184.301,120.445 175.537,123.713 173.725,119.273 168.102,117.641 168.509,111.035 184.143,98.541 183.395,95.979    178.579,86.307 167.938,85.338 172.15,84.215 178.084,69.486 195.811,49.891 195.814,49.883 199.997,43.346 201.253,41.381    204.066,42.676 203.793,45.27 209.523,48.742 219.502,41.188 223.523,44.701 235.813,37.859 241.488,47.529 252.616,47.529    252.518,52.82  "></polygon>
                <text transform="matrix(1 0 0 1 199.9131 77.4121)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">AFY</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Aydın')">
            <g id="il-9" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="136.548,124.586 135.778,126.799 133.043,127.256 130.46,131.615    122.982,133.406 125.08,144.871 123.916,138.725 123.092,138.498 107.686,134.305 106.038,138.361 76.382,135.855 75.251,139.799    74.421,142.852 72.331,143.932 72.225,144.746 71.12,145.477 70.736,146.65 67.029,147.242 66.438,146.74 65.776,146.73    64.823,145.629 65.499,139.74 64.104,139.689 63.349,133.289 65.489,134.336 64.622,132.125 57.131,129.48 58.001,127.338    66.451,125.537 67.803,116.285 70.064,116.318 77.969,113.328 78.746,110.719 121.495,103.514 128.568,103.762 128.857,106.371    131.449,108.189 131.119,118.986  "></polygon>
                <text transform="matrix(1 0 0 1 97.1484 122.2051)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">AYD</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Denizli')">
            <g id="il-20" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="173.725,119.273 175.537,123.713 169.441,128.303 169.438,128.307    168.604,128.932 163.016,133.139 162.729,139.359 164.656,140.732 157.172,169.33 151.646,171.193 126.955,144.953 125.08,144.871    122.982,133.406 130.46,131.615 133.043,127.256 135.778,126.799 136.548,124.586 131.119,118.986 131.449,108.189    128.857,106.371 128.568,103.762 128.571,103.762 132.154,102.1 131.826,98.063 132.983,96.809 134.071,96.705 134.075,96.703    136.855,95.029 137.564,95.52 137.67,95.59 139.912,96.258 143.712,97.385 165.4,93.824 167.633,85.42 167.934,85.338    167.938,85.338 178.579,86.307 183.395,95.979 184.143,98.541 168.509,111.035 168.102,117.641  "></polygon>
                <text transform="matrix(1 0 0 1 146.6416 129.1768)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">DNZ</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('İzmir')">
            <g id="il-35" style="opacity: 0.76;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="121.495,103.514 78.746,110.719 77.969,113.328 70.064,116.318 67.803,116.285    67.496,114.402 67.982,114.002 67.979,113.33 65.499,110.471 63.349,110.955 55.742,106.172 51.499,107.826 47.034,100.008    47.53,98.682 46.316,97.975 41.7,98.883 40.85,102.248 40.317,102.604 40.42,103.354 39.537,104.098 33.363,98.07 32.473,98.393    30.276,96.486 29.688,97.414 25.039,94.598 25.26,93.275 26.49,93.35 27.257,91.074 27.013,90.412 28.296,88.633 28.901,89.752    28.577,90.844 30.168,92.342 31.047,90.412 31.97,91.018 34.51,89.525 34.189,86.336 35.194,86.664 36.009,85.93 32.592,83.412    31.537,84.729 29.906,76.402 29.434,76.137 29.771,72.865 32.205,71.666 41.964,83.469 40.251,83.965 40.086,86.143 40.641,86.443    42.031,90.855 43.73,91.951 44.938,85.268 48.632,89.916 63.404,84.635 63.018,84.143 56.499,84.111 55.342,85.178 53.414,84.855    53.321,83.736 49.806,80.221 49.733,75.814 48.357,76.281 47.46,75.146 46.37,74.883 46.26,74.258 45.712,73.877 45.489,72.871    46.26,71.854 45.377,69.191 49.042,67.211 52.366,68.738 52.765,67.203 53.923,66.549 52.613,63.744 53.923,63.129 54.75,64.727    55.507,64.24 55.038,62.906 57.29,60.975 58.4,61.6 58.817,60.797 59.396,60.604 58.663,59.486 59.049,58.225 58.213,57.01    57.051,58.549 55.954,57.348 50.561,57.947 49.845,58.664 48.136,53.316 49.075,52.547 49.02,51.898 51.648,49.83 49.465,44.777    46.991,43.566 68.974,26.779 74.678,31.408 74.722,31.406 79.864,50.09 67.393,66.951 66.41,68.277 94.271,90.773 95.68,87.215    104.419,87.066 104.536,91.832 110.563,91.77 111.881,90.688 120.631,95.811  "></polygon>
                <text transform="matrix(1 0 0 1 66.4307 92.3145)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">İZR</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Kütahya')">
            <g id="il-43" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="199.997,43.346 195.814,49.883 195.811,49.891 178.084,69.486 178.093,68.99    178.156,65.611 178.163,65.33 178.159,65.328 178.163,65.223 172.352,60.533 164.544,61.006 163.268,66.479 145.807,65.729    145.753,65.77 143.253,67.619 141.439,68.959 141.83,62.906 139.595,60.096 140.342,58.363 130.219,48.127 125.946,43.809    126.681,43.441 126.118,41.41 140.263,21.244 144.291,22.563 146.439,21.568 148.609,22.227 158.098,1 163.803,3.379    168.248,2.076 167.788,8.59 178.208,18.734 187.2,17.477 187.617,17.416  "></polygon>
                <text transform="matrix(1 0 0 1 157.6543 43.5811)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KTH</text>
            </g>
        </a>
        

        <a xlink:href="#" onclick="toggleTable('Manisa')">
            <g id="il-45" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="141.83,62.906 141.439,68.959 141.402,68.986 140.461,69.684 140.461,69.688    136.35,72.727 136.354,72.836 136.357,72.914 136.42,75.213 134.186,75.641 134.188,75.746 134.538,93.811 135.359,93.994    136.855,95.029 134.075,96.703 134.071,96.705 132.983,96.809 131.826,98.063 132.154,102.1 128.571,103.762 128.568,103.762    121.495,103.514 120.631,95.811 111.881,90.688 110.563,91.77 104.536,91.832 104.419,87.066 95.68,87.215 94.271,90.773    66.41,68.277 67.393,66.951 79.864,50.09 74.722,31.406 74.678,31.408 68.974,26.779 94.928,35.623 92.097,39.094 98.325,40.25    103.259,49.848 125.946,43.809 130.219,48.127 140.342,58.363 139.595,60.096  "></polygon>
                <text transform="matrix(1 0 0 1 99.8076 69.7393)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">MNS</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Muğla')">
            <g id="il-48" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="168.443,169.668 159.586,195.732 158.318,195.193 154.295,197.561    153.412,204.451 151.378,206 149.913,204.047 147.807,203.762 144.797,199.783 145.646,199.287 144.787,195.313 145.57,194.402    145.271,191.969 143.579,191.143 141.855,191.963 142.225,191.059 141.45,190.15 141.854,188.031 143.874,186.383 145.118,187.457    145.531,186.729 138.132,181.34 134.165,186.268 123.995,181.303 124.326,178.74 121.796,175.922 120.738,176.838 120.886,178.197    117.43,176.332 118.042,173.693 117.549,173.371 115.268,178.66 112.542,177.039 111.788,177.967 110.194,177.863 111.014,175.6    110.267,174.643 108.745,176.83 111.27,180.994 111.146,182.012 110.343,181.717 98.487,191.559 97.082,189.146 98.983,188.574    99.436,188.908 102.085,187.143 101.662,186.396 100.726,186.297 100.604,183.986 99.403,184.818 96.956,183.947 100.313,181.889    103.226,182.248 103.633,181.137 102.511,180.498 103.974,178.715 102.317,177.998 101.602,179.424 96.36,179.59 87.156,179.881    85.396,185.338 80.434,184.779 80.148,184.289 79.167,184.889 78.52,184.512 76.633,186.037 71.672,183.178 73.825,182.186    74.149,181.064 76.355,179.539 77.14,180.189 82.752,178.988 83.635,176.838 83.959,177.281 84.861,177.334 85.851,178.203    86.809,178.025 93.979,176.684 96.311,178.029 97.742,177.449 98.503,177.83 100.223,177.453 100.656,176.248 99.393,175.682    99.064,174.471 100.554,173.482 99.671,171.266 100.798,169.832 105.145,169.967 105.292,169.338 106.676,168.791 107.622,166.348    108.835,166.547 109.54,165.316 111.964,164.344 84.392,166.57 83.84,167.359 80.933,166.916 80.105,167.635 78.783,166.971    77.407,167.463 76.686,168.848 74.553,166.539 75.367,165.707 73.584,165.797 73.396,166.203 72.774,166.477 71.91,165.354    69.466,168.621 67.135,167.479 67.591,158.984 69.741,159.365 69.907,157.865 70.889,157.391 71.659,158.045 72.112,157.492    76.523,161.449 79.719,158.379 79.415,157.598 78.23,158.533 77.163,157.904 82.199,150.824 78.012,153.082 77.569,151.361    76.467,152.092 75.85,151.307 77.791,147.896 76.577,147.953 76.028,149.123 74.55,149.156 72.648,146.965 75.032,143.326    74.421,142.852 76.382,135.854 106.038,138.361 107.686,134.305 123.092,138.498 123.916,138.725 125.08,144.871 126.955,144.953    151.646,171.193 157.172,169.33 163.387,164.604  "></polygon>
                <text transform="matrix(1 0 0 1 112.4658 162.7383)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">MUĞ</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Uşak')">

            <g id="il-64" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="178.163,65.223 178.159,65.328 178.156,65.611 178.093,68.99 178.084,69.486    172.15,84.215 167.938,85.338 167.934,85.338 167.633,85.42 165.4,93.824 143.712,97.385 139.912,96.258 137.67,95.59    137.564,95.52 136.855,95.029 135.359,93.994 134.538,93.811 134.188,75.746 134.186,75.641 136.42,75.213 136.423,75.213    136.357,72.914 136.354,72.836 136.35,72.727 140.461,69.688 140.461,69.684 141.402,68.986 141.439,68.959 143.253,67.619    145.753,65.77 145.807,65.729 163.268,66.479 164.544,61.006 172.352,60.533  "></polygon>
                <text transform="matrix(1 0 0 1 148.499 82.085)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">UŞK</text>
            </g>
        </a>
       
        </svg>



      <%- include("partials/egebars.ejs") %> 
      <%- include("partials/tables.ejs") %> 
      <script src="/tablo_kontrol.js"></script>
</body>
</html>
<%- include("partials/footer.ejs") %>