<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>İl Seçiniz</h1>
     

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="guneydogu-anadolu" x="0px" y="0px" "="" viewBox="0 0 280 207" enable-background="new 0 0 280 207" xml:space="preserve">

        <a xlink:href="#" onclick="toggleTable('Adıyaman')">
            <g id="il-2" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="110.178,76.333 109.461,83.442 108.309,83.831 96.1,97.298 98.673,96.681    98.128,99.192 96.638,99.364 97.188,102.013 96.23,101.392 93.189,103.106 94.352,104.734 86.715,106.02 80.583,113.225    71.581,114.531 71.174,115.809 69.799,115.923 69,115.079 68.52,117.572 62.635,115.663 62.635,115.659 61.585,113.973    45.493,112.29 46.088,113.693 38.607,107.52 37.655,102.431 40.902,100.95 43.881,95.165 68.14,88.542 68.455,84.659 73.35,79.675    73.365,79.657 75.385,76.208 77.553,75.392 77.556,75.392 78.63,74.294 79.578,74.63 83.004,73.339 85.052,74.651 83.649,77.269    84.395,79.489 95.539,80.72 100.721,76.384 104.548,75.657 104.47,76.177 106.79,76.78 108.756,74.853  "></polygon>
                <text transform="matrix(1 0 0 1 68.4683 99.9639)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ADY</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Diyarbakır')">
            <g id="il-21" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="192.533,60.647 180.969,92.503 182.623,97.304 182.021,99.53 170.643,100.438    168.895,98.532 162.807,97.931 160.703,104.188 136.306,109.271 136.303,109.271 135.357,106.464 135.357,106.46 131.29,94.39    128.888,96.784 108.791,84.136 108.309,83.831 109.461,83.442 110.178,76.333 108.756,74.853 106.79,76.78 104.47,76.177    104.548,75.657 104.977,72.823 105.688,68.142 105.688,68.134 105.672,67.948 105.747,67.749 151.645,60.284 159.576,58.638    160.842,52.907 188.791,47.374 189.074,47.603 195.533,52.771 194.75,55.716 196.943,59.604  "></polygon>
                <text transform="matrix(1 0 0 1 154.2617 84.4268)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">DİY</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Gaziantep')">
            <g id="il-27" style="opacity: 1;">
                <polygon fill="#ed9600" stroke="#FFFFFF" points="61.714,147.109 62.378,148.241 44.081,155.544 39.794,151.452 36.277,153.697    23.151,143.441 22.737,141.046 18.767,138.225 8.161,148.749 1,143.441 11.042,124.415 11.045,124.415 14.07,123.639    15.974,119.956 18.558,120.479 19.5,124.861 23.126,126.327 44.654,118.581 46.088,113.693 45.493,112.29 61.585,113.973    62.635,115.659 62.196,115.52 62.256,115.852 60.546,115.863 55.68,127.906 54.343,127.915 55.849,134.341 55.238,135.061    57.884,137.219 59.202,136.626 62.35,145.77  "></polygon>
                <text transform="matrix(1 0 0 1 30.5752 140.3555)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">GAZ</text>
            </g>
        </a>
        

        <a xlink:href="#" onclick="toggleTable('Mardin')">
            <g id="il-47" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="213.326,111.814 213.779,112.729 212.938,115.702 205.602,116.411    203.416,126.643 207.908,128.833 206.967,133.02 150.395,143.734 146.654,139.993 139.632,119.146 139.625,119.134    136.403,109.568 136.306,109.271 160.703,104.188 162.807,97.931 168.895,98.532 170.643,100.438 182.021,99.53 182.26,99.224    187.445,111.298 212.377,104.316 215.076,108.188 215.154,108.298  "></polygon>
                <text transform="matrix(1 0 0 1 165.7051 122.627)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">MRD</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Siirt')">
            <g id="il-56" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="260.459,99.577 254.064,104.277 243.32,99.521 215.154,108.298 215.076,108.188    212.377,104.316 212.271,101.503 207.166,100.442 208.008,95.22 195.797,87.813 199.762,82.171 202.477,82.177 206.652,74.159    209.854,76.179 221.496,73.196 247.883,89.015 248.898,87.524 249.857,87.349 254.385,88.21  "></polygon>
                <text transform="matrix(1 0 0 1 222.0732 93.9414)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">SRT</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Urfa')">
            <g id="il-63" style="opacity: 1;">
                <polygon fill="#ff3e4f" stroke="#FFFFFF" points="150.395,143.734 134.189,152.796 96.547,156.729 62.378,148.241 61.714,147.109    62.35,145.77 59.202,136.626 57.884,137.219 55.238,135.061 55.849,134.341 54.343,127.915 55.68,127.906 60.546,115.863    62.256,115.852 62.196,115.52 62.635,115.659 62.635,115.663 68.52,117.572 69,115.079 69.799,115.923 71.174,115.809    71.581,114.531 80.583,113.225 86.715,106.02 94.352,104.734 93.189,103.106 96.23,101.392 97.188,102.013 96.638,99.364    98.128,99.192 98.673,96.681 96.1,97.298 108.309,83.831 108.791,84.136 128.888,96.784 131.29,94.39 135.357,106.46    135.357,106.464 136.303,109.271 136.306,109.271 136.403,109.568 139.625,119.134 139.632,119.146 146.654,139.993  "></polygon>
                <text transform="matrix(1 0 0 1 94.1953 129.0771)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ŞAN</text>
            </g>
        </a>
       

        <a xlink:href="#" onclick="toggleTable('Batman')">
            <g id="il-72" style="opacity: 1;">
                <polygon fill="#8b008b" stroke="#FFFFFF" points="212.377,104.316 187.445,111.298 182.26,99.224 182.021,99.53 182.623,97.304    180.969,92.503 192.533,60.647 196.943,59.604 194.75,55.716 196.799,57.396 196.834,57.386 200.543,56.233 200.76,56.396    201.195,56.284 205.137,59.651 202.477,82.177 199.762,82.171 195.797,87.813 208.008,95.22 207.166,100.442 212.271,101.503  "></polygon>
                <text transform="matrix(1 0 0 1 186.7559 98.5391)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BAT</text>
            </g>
        </a>
        

        <a xlink:href="#" onclick="toggleTable('Şırnak')">
            <g id="il-73" style="opacity: 1;">
                <polygon fill="#ed9600" stroke="#FFFFFF" points="279,101.136 272.77,121.889 270.504,122.521 264.477,119.15 258.523,122.268    250.639,118.991 233.959,133.163 233.242,127.473 226.982,123.161 206.967,133.02 207.908,128.833 203.416,126.643    205.602,116.411 212.938,115.702 213.779,112.729 213.326,111.814 215.154,108.298 243.32,99.521 254.064,104.277 260.459,99.577    261.111,99.978 262.717,98.405  "></polygon>
                <text transform="matrix(1 0 0 1 237.9258 115.5137)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ŞRK</text>
            </g>
        </a>
        

        <a xlink:href="#" onclick="toggleTable('Kilis')">
            <g id="il-79" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="44.081,155.544 40.352,158.855 25.493,158.057 24.064,159.626 22.337,158.313    22.814,155.943 8.161,148.749 18.767,138.225 22.737,141.046 23.151,143.441 36.277,153.697 39.794,151.452  "></polygon>
                <text transform="matrix(1 0 0 1 15.6377 151.5889)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KLS</text>
            </g>
        </a>
       
        </svg>

   
      
     <%- include("partials/guneydoguanadolubars.ejs") %> 
      <%- include("partials/tables.ejs") %> 
      <script src="/tablo_kontrol.js"></script>
</body>
</html>
<%- include("partials/footer.ejs") %>