<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>İl Seçiniz</h1>


  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ic-anadolu" x="0px" y="0px" "="" viewBox="0 0 280 207" enable-background="new 0 0 280 207" xml:space="preserve">

    <a xlink:href="#" onclick="toggleTable('Ankara')">
        <g id="il-6" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="123.524,100.755 108.556,107.137 108.52,107.118 103.749,86.023 101.932,84.958    101.302,84.589 101.299,84.589 97.805,82.544 94.901,83.032 94.168,86.601 88.407,84.411 76.496,91.608 70.91,88.889 65.22,90.248    59.199,84.9 56.645,83.435 62.675,78.495 60.444,75.818 60.876,75.438 57.266,54.94 56.676,54.04 51.915,49.086 50.17,46.336    50.079,46.342 27.348,47.689 24.018,41.384 30.656,36.104 30.999,30.48 71.842,30.076 76.611,23.627 75.322,20.32 77.646,17.13    80.508,17.263 104.541,33.797 105.574,31.076 116.674,34.402 113.51,42.024 114.868,46.543 106.993,50.868 103.581,64.446    111.303,78.194 110.453,79.977 123.083,89.84 123.206,90.479  "></polygon>
            <text transform="matrix(1 0 0 1 72.8267 53.8516)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ANK</text>
        </g>
    </a>
     

      <a xlink:href="#" onclick="toggleTable('Çankırı')">
        <g id="il-18" style="opacity: 1;">
            <polygon fill="#137bbb" stroke="#FFFFFF" points="130.826,29.46 124.886,36.606 116.674,34.146 105.574,30.82 104.541,33.543    80.508,17.009 77.646,16.876 75.322,20.064 79.083,12.114 87.2,4.871 91.869,5.74 98.735,1.859 99.42,1.472 104.833,5.551    120.96,0.985 119.705,7.758 126.438,11.137 126.714,12.288 127.852,13.022  "></polygon>
            <text transform="matrix(1 0 0 1 101.6138 17.9414)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ÇNK</text>
        </g>
      </a>
    

      <a xlink:href="#" onclick="toggleTable('Eskişehir')">
        <g id="il-26" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="56.645,83.179 56.681,86.515 51.367,87.498 51.038,86.769 42.472,86.769    38.102,79.325 28.642,84.591 25.546,81.888 17.864,87.703 13.452,85.029 13.663,83.032 11.497,82.034 10.529,83.548 1,63.586    8.126,50.422 11.259,50.76 16.655,40.622 19.963,40.05 19.985,39.907 23.72,41.364 24.018,41.13 27.348,47.436 50.079,46.085    50.17,46.082 51.915,48.83 56.676,53.784 57.266,54.687 60.876,75.182 60.444,75.564 62.675,78.239  "></polygon>
            <text transform="matrix(1 0 0 1 22.1294 64.0488)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ESK</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Kayseri')">
        <g id="il-38" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="219.573,85.878 214.113,107.396 207.355,119.365 205.602,118.938    204.889,118.766 203.044,114.584 199.074,114.627 175.973,144.801 163.309,143.564 164.938,141.259 164.365,139.3 166.539,136.488    163.75,126.486 160.354,126.995 155.064,117.568 155.911,115.08 160.611,109.512 160.445,101.766 156.516,100.281 159.055,89.191    165.129,91.33 184.398,76.631  "></polygon>
            <text transform="matrix(1 0 0 1 178.0703 103.5215)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KAY</text>
        </g>
      </a>
    

      <a xlink:href="#" onclick="toggleTable('Kırıkkale')">
        <g id="il-40" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="151.258,75.059 149.203,73.587 148.229,74.283 145.035,73.908 147.09,85.509    145.659,86.56 137.667,92.442 138.164,97.78 137.161,97.89 133.239,94.801 133.188,94.606 131.661,94.098 128.361,95.569    127.727,92.688 123.206,90.225 123.083,89.586 110.453,79.723 111.303,77.942 111.071,76.953 127.725,55.472 127.725,55.446    127.882,55.241  "></polygon>
            <text transform="matrix(1 0 0 1 125.1997 77.8594)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KIR</text>
        </g>
      </a>
    

      <a xlink:href="#" onclick="toggleTable('Konya')">
        <g id="il-42" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="142.609,164.018 134.803,167.251 127.096,171.926 126.658,170.635    127.04,167.141 127.345,164.339 115.161,149.079 106.954,156.932 102.074,156.854 100.203,154.775 84.908,172.316 85.903,173.953    85.16,174.951 90.158,180.956 76.326,188.627 74.284,184.852 72.094,184.605 71.053,181.396 72.435,179.781 43.074,162.979    42.619,161.096 40.241,159.604 39.907,149.889 41.883,149.488 42.645,136.417 49.032,130.898 49.159,128.887 47.072,128.596    46.015,126.341 44.965,126.04 43.508,125.624 37.132,115.828 36.534,115.875 52.843,92.928 50.962,90.844 51.038,86.769    51.367,87.498 56.681,86.515 56.645,83.179 59.199,84.644 65.22,89.994 70.91,88.635 76.496,91.352 88.407,84.155 94.168,86.347    94.901,82.778 97.805,82.288 101.299,84.335 101.302,84.335 101.932,84.705 103.749,85.769 108.52,106.865 108.556,106.879    101.136,124.531 101.903,126.04 107.397,136.844 130.912,134.807 140.52,150.354 138.169,156.98 142.469,162.605  "></polygon>
            <text transform="matrix(1 0 0 1 75.2192 134.5508)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KON</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Nevşehir')">
        <g id="il-50" style="opacity: 1;">
            <polygon fill="#63bbee" stroke="#FFFFFF" points="160.611,109.512 155.911,115.08 155.064,117.568 152.21,119.465 140.411,116.914    138.779,115.676 138.779,115.674 138.736,114.943 138.352,108.538 133.26,106.566 133.237,102.805 134.153,101.345 133.239,94.801    137.161,97.89 138.164,97.78 137.667,92.442 145.659,86.56 147.09,85.509 145.035,73.908 148.229,74.283 149.203,73.587    151.258,75.059 151.527,77.031 154.225,78.702 155.102,81.144 157.986,83.88 157.488,87.826 159.055,89.191 156.516,100.281    160.445,101.766  "></polygon>
            <text transform="matrix(1 0 0 1 142.9746 103.5215)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">NEV</text>
        </g>
      </a>
      

      <a xlink:href="#" onclick="toggleTable('Niğde')">
        <g id="il-51" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="164.938,141.259 163.309,143.564 159.316,147.598 152.294,148.549    153.482,155.257 151.193,157.277 150.852,160.432 150.496,160.74 142.609,164.018 142.469,162.605 138.169,156.98 140.52,150.354    130.912,134.807 126.296,134.857 128.045,131.85 134.148,126.04 139.118,121.313 138.779,115.676 140.411,116.914 152.21,119.465    155.064,117.568 160.354,126.995 163.75,126.486 166.539,136.488 164.365,139.3  "></polygon>
            <text transform="matrix(1 0 0 1 144.166 137.5742)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">NİĞ</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Sivas')">
        <g id="il-58" style="opacity: 1;">
            <polygon fill="#9e3a3a" stroke="#FFFFFF" points="279,47.898 277.814,49.43 275.691,48.746 271.85,50.532 267.707,49.342    266.525,53.243 267.289,55.114 269.223,54.325 271.956,56.071 269.836,56.388 266.337,61.459 268.135,72.593 268.135,72.615    266.009,75.557 267.016,83.286 262.248,86.097 262.241,86.103 258.801,88.129 257.952,87.869 256.852,87.533 247.184,92.309    240.654,90.416 241.659,98.31 231.521,108.6 231.059,108.604 225.115,108.675 225.092,108.675 214.193,108.809 219.573,85.878    184.398,76.631 196.934,61.568 193.771,51.059 193.723,50.899 211.089,47.289 215.773,38.625 240.898,32.709 242.1,28.483    245.137,32.175 249.232,32.195 251.078,30.248 253.453,30.501 254.898,29.14 254.216,27.188 259.529,25.407 262.282,38.223    278.449,45.5 278.484,45.658 278.486,45.658 278.592,46.119  "></polygon>
            <text transform="matrix(1 0 0 1 228.6211 62.2441)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">SİV</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Yozgat')">
        <g id="il-66" style="opacity: 1;">
            <polygon fill="#ff3e4f" stroke="#FFFFFF" points="196.934,61.568 184.398,76.631 165.129,91.33 159.055,89.191 157.488,87.826    157.986,83.88 155.102,81.144 154.225,78.702 151.527,77.031 151.258,75.059 127.882,55.241 127.725,55.446 127.72,52.403    131.292,50.104 131.948,50.68 162.813,44.398 164.214,40.692 163.352,39.665 168.504,37.92 168.624,38.03 169.857,39.163    174.169,39.372 174.302,39.47 174.574,39.669 174.587,39.677 174.598,39.687 180.448,43.98 191.318,42.908 193.723,50.899    193.771,51.059  "></polygon>
            <text transform="matrix(1 0 0 1 158.8906 62.251)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">YZG</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Aksaray')">
        <g id="il-68" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="128.045,131.85 126.296,134.857 130.912,134.807 107.397,136.844 101.903,126.04    101.136,124.531 108.556,106.879 123.524,100.5 123.206,90.225 127.727,92.688 128.361,95.569 131.661,94.098 133.188,94.606    133.239,94.801 134.153,101.345 133.237,102.805 133.26,106.566 138.352,108.538 138.736,114.943 138.779,115.674 138.779,115.676    139.118,121.313 134.148,126.04  "></polygon>
            <text transform="matrix(1 0 0 1 116.8179 118.3184)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">AKS</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Karaman')">
        <g id="il-70" style="opacity: 1;">
            <polygon fill="#137bbb" stroke="#FFFFFF" points="126.658,170.635 127.096,171.926 126.475,172.301 100.78,181.372 99.229,185.791    97.639,185.891 96.875,184.283 92.969,186.23 96.805,192.995 96.805,192.997 99.272,194.357 100.61,198.113 97.488,197.029    95.924,200.746 82.639,201.711 80.871,206.016 74.284,184.852 76.326,188.627 90.158,180.956 85.16,174.951 85.903,173.953    84.908,172.316 100.203,154.775 102.074,156.854 106.954,156.932 115.161,149.079 127.345,164.339 127.04,167.141  "></polygon>
            <text transform="matrix(1 0 0 1 97.9692 171.9893)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KRM</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Kırklareli')">
        <g id="il-71" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="131.292,50.104 127.72,52.403 127.725,55.446 127.725,55.472 111.071,76.953    111.303,77.942 103.581,64.192 106.993,50.612 114.868,46.287 113.51,41.771 116.674,34.146 124.886,36.606 130.826,29.46    125.499,35.899 131.948,50.68  "></polygon>
            <text transform="matrix(1 0 0 1 110.5259 55.4053)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KRK</text>
        </g>

      </a>
      
      </svg>

   
       <%- include("partials/icanadolubars.ejs") %>
        <%- include("partials/tables.ejs") %> 

      <script src="/tablo_kontrol.js"></script>
</body>
</html>
<%- include("partials/footer.ejs") %>





