<%- include("partials/header.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/public/tablo_kontrol.js"></script>

</head>
<body>
  
    <h1>İl Seçiniz</h1>



  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="karadeniz" x="0px" y="0px" "="" viewBox="0 0 280 207" enable-background="new 0 0 280 207" xml:space="preserve">

    
    <a xlink:href="#" onclick="toggleTable('Amasya')">
        <g id="il-5" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="136.862,116.171 133.334,116.856 133.688,118.003 129.101,121.171    123.286,119.091 116.992,126.179 114.875,128.884 114.854,128.911 111.748,128.761 110.86,127.946 110.774,127.866    110.927,126.788 113.999,116.659 105.564,113.302 104.563,101.034 107.662,101.46 113.311,103.325 114.008,102.95 127.698,108.505    131.545,103.472 138.105,107.823 135.838,109.038 135.889,109.636 138.27,111.284  "></polygon>
            <text transform="matrix(1 0 0 1 118.3545 113.8252)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">AMS</text>
        </g>
    </a>
     

      
    <a xlink:href="#" onclick="toggleTable('Artvin')">  <g id="il-8" style="opacity: 1;">
        <polygon fill="#a7050e" stroke="#FFFFFF" points="279,96.718 272.808,104.11 272.643,104.146 272.234,104.229 272.214,104.233    272.203,104.235 266.877,105.099 266.655,105.399 266.136,105.507 265.067,107.554 265.473,108.741 263.13,113.86 262.143,116.019    258.049,113.851 251.48,116.866 250.626,116.325 250.135,114.368 251.357,111.683 250.626,110.368 245.479,109.073    244.152,108.741 247.468,105.976 252.2,100.989 247.256,94.151 254.572,87.608 258.049,88.612 258.271,88.343 259.028,88.435    259.301,89.161 261.593,90.327 264.252,87.737 266.723,88.505 267.41,88.069 276.432,90.345  "></polygon>
        <text transform="matrix(1 0 0 1 258.3301 101.3105)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ART</text>
    </g></a>
    

     
 <a xlink:href="#" onclick="toggleTable('Bolu')"> <g id="il-14" style="opacity: 1;">
    <polygon fill="#a7050e" stroke="#FFFFFF" points="43.691,115.013 44.619,117.394 41.188,122.034 11.782,122.327 11.535,126.374    6.757,130.177 6.542,130.347 3.854,129.296 1.667,124.95 2.314,123.259 1,121.796 3.151,117.21 6.613,115.743 6.61,115.085    18.763,114.118 18.914,113.298 18.605,112.72 19.763,108.864 26.551,105.181 26.972,102.481 27.427,102.507 36.593,103.003    40.27,103.997 40.342,105.565 46.399,109.288  "></polygon>
    <text transform="matrix(1 0 0 1 23.2275 116.2139)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BOL</text>
</g></a> 
     

      
 <a xlink:href="#" onclick="toggleTable('Çorum')">
    <g id="il-19" style="opacity: 1;">
        <polygon fill="#ed9600" stroke="#FFFFFF" points="113.999,116.659 110.927,126.788 110.774,127.866 107.064,129.122    107.688,129.862 106.678,132.528 84.458,137.052 79.814,126.411 83.649,121.776 81.509,109.942 80.689,109.413 80.491,108.583    85.543,106.673 85.834,106.179 86.595,104.884 84.818,103.028 89.051,94.204 91.395,94.849 99.365,97.552 100.66,96.413    102.327,100.729 104.563,101.034 105.564,113.302  "></polygon>
        <text transform="matrix(1 0 0 1 90.9478 120.3994)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ÇRM</text>
    </g>

 </a>
    
      
 <a xlink:href="#" onclick="toggleTable('Gümüşhane')">
    <g id="il-29" style="opacity: 1;">
        <polygon fill="#137bbb" stroke="#FFFFFF" points="220.441,118.466 219.619,119.687 217.694,119.593 216.777,120.522 216.015,121.3    214.808,122.526 215.163,128.792 210.684,132.47 211.015,134.521 212.839,135.817 213.572,136.353 213.563,136.353    213.561,136.353 211.541,136.831 201.51,136.472 201.165,135.384 194.711,132.894 193.963,130.876 193.963,130.87 193.637,129.993    193.85,129.649 197.854,123.12 192.136,118.724 192.401,116.671 193.95,115.884 193.454,114.368 196.982,111.161 198.116,111.394    199.021,110.903 200.738,111.253 202.114,110.565 203.537,113.392 210.82,116.937 212.331,114.081 215.77,117.667 215.953,115.788    216.961,115.562 220.234,118.292  "></polygon>
        <text transform="matrix(1 0 0 1 200.8877 127.1494)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">GMŞ</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Giresun')">
    <g id="il-28" style="opacity: 1;">
        <polygon fill="#a7050e" stroke="#FFFFFF" points="201.165,135.384 189.926,133.323 178.286,128.083 176.305,118.858    176.096,117.88 174.162,115.743 175.412,105.2 199.493,101.515 199.021,110.903 198.116,111.394 196.982,111.161 193.454,114.368    193.95,115.884 192.401,116.671 192.136,118.724 197.854,123.12 193.85,129.649 193.637,129.993 193.963,130.87 193.963,130.876    194.711,132.894  "></polygon>
        <text transform="matrix(1 0 0 1 180.7969 116.5674)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">GİR</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Kastamonu')">
    <g id="il-37" style="opacity: 1;">
        <polygon fill="#a7050e" stroke="#FFFFFF" points="93.503,82.89 93.408,83.28 92.491,87.032 89.051,94.204 84.818,103.028    86.595,104.884 85.834,106.179 85.543,106.673 80.491,108.583 75.645,106.153 76.547,101.276 64.938,104.563 61.04,101.626    60.547,101.905 58.225,100.497 58.223,100.497 55.25,98.698 57.729,91.091 55.25,87.14 52.871,86.425 49.357,77.741 65.471,71.724    84.905,73.866 83.284,80.288 93.063,82.776  "></polygon>
        <text transform="matrix(1 0 0 1 69.1973 87.9248)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KAS</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Ordu')">
    <g id="il-52" style="opacity: 1;">
        <polygon fill="#ed9600" stroke="#FFFFFF" points="172.479,120.142 172.971,121.546 171.932,122.526 170.222,122.343    168.893,123.743 165.943,123.729 163.757,121.073 164.254,120.911 164.133,120.2 163.5,117.394 152.717,113.179 152.466,113.423    142.217,108.815 143.439,107.853 146.648,105.319 154.307,99.276 162.217,103.036 165.667,99.735 166.229,100.257 167.716,100.142    167.952,100.708 167.725,101.39 168.64,103.091 169.582,103.149 170.35,104.351 175.412,105.2 174.162,115.743 176.096,117.88    176.305,118.858  "></polygon>
        <text transform="matrix(1 0 0 1 160.248 110.5654)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ORD</text>
    </g>

 </a>
     
      
 <a xlink:href="#" onclick="toggleTable('Rize')">
    <g id="il-53" style="opacity: 1;">
        <polygon fill="#ed9600" stroke="#FFFFFF" points="252.2,100.989 247.468,105.976 244.152,108.741 238.215,113.698 238.377,114.726    230.919,118.067 230.907,118.11 227.359,103.856 229.883,102.487 231.411,103.159 247.256,94.151  "></polygon>
        <text transform="matrix(1 0 0 1 234.1133 106.2773)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">RİZ</text>
    </g>
 </a>
    

      
 <a xlink:href="#" onclick="toggleTable('Samsun')">
    <g id="il-55" style="opacity: 1;">
        <polygon fill="#ed9600" stroke="#FFFFFF" points="154.307,99.276 146.648,105.319 143.439,107.853 140.114,106.747    138.105,107.823 131.545,103.472 127.698,108.505 114.008,102.95 113.311,103.325 107.662,101.46 104.563,101.034 102.327,100.729    100.66,96.413 106.115,91.624 107.532,95.339 110.529,96.497 112.679,94.981 114.179,95.229 114.99,94.788 114.484,83.702    124.917,81.003 129.676,84.374 129.624,86.876 129.164,87.407 137.291,96.315 140.681,92.099 150.334,96.101 150.822,98.515  "></polygon>
        <text transform="matrix(1 0 0 1 124.2944 98.1494)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">SMN</text>
    </g>
 </a>
      

      
 <a xlink:href="#" onclick="toggleTable('Sinop')">
    <g id="il-57" style="opacity: 1;">
        <polygon fill="#a7050e" stroke="#FFFFFF" points="114.99,94.788 114.179,95.229 112.679,94.981 110.529,96.497 107.532,95.339    106.115,91.624 100.66,96.413 99.365,97.552 91.395,94.849 89.051,94.204 92.491,87.032 93.408,83.28 93.503,82.89 93.063,82.776    83.284,80.288 84.905,73.866 91.461,73.349 92.658,74.382 100.509,72.327 102.351,69.792 105.971,72.487 105.243,74.901    114.484,83.702  "></polygon>
        <text transform="matrix(1 0 0 1 99.2207 84.4434)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">SNP</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Tokat')">
    <g id="il-60" style="opacity: 1;">
        <polygon fill="#137bbb" stroke="#FFFFFF" points="164.254,120.911 163.757,121.073 162.892,124.114 144.805,128.372    141.432,134.61 128.93,137.208 127.199,131.456 119.373,132.229 115.161,129.138 115.153,129.13 115.145,129.124 114.948,128.981    114.854,128.911 114.875,128.884 116.992,126.179 123.286,119.091 129.101,121.171 133.688,118.003 133.334,116.856    136.862,116.171 138.27,111.284 135.889,109.636 135.838,109.038 138.105,107.823 140.114,106.747 143.439,107.853    142.217,108.815 152.466,113.423 152.717,113.179 163.5,117.394 164.133,120.2  "></polygon>
        <text transform="matrix(1 0 0 1 137.645 123.6924)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">TOK</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Trabzon')">
    <g id="il-61" style="opacity: 1;">
        <polygon fill="#ed9600" stroke="#FFFFFF" points="230.907,118.11 220.441,118.466 220.234,118.292 216.961,115.562    215.953,115.788 215.77,117.667 212.331,114.081 210.82,116.937 203.537,113.392 202.114,110.565 200.738,111.253 199.021,110.903    199.493,101.515 227.359,103.856  "></polygon>
        <text transform="matrix(1 0 0 1 210.8301 108.1221)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">TRB</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Zonguldak')">
    <g id="il-67" style="opacity: 1;">
        <polygon fill="#a7050e" stroke="#FFFFFF" points="39.729,94.173 38.382,96.534 36.785,97.403 36.714,99.46 36.714,99.462    36.053,100.622 36.593,103.003 27.427,102.507 26.972,102.481 16.986,101.938 16.667,101.923 20.137,97.179 19.71,96.56    20.236,95.237 19.488,94.14 35.594,85.497 38.378,87.116  "></polygon>
        <text transform="matrix(1 0 0 1 27.2759 95.2568)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ZNG</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Bayburt')">
    <g id="il-69" style="opacity: 1;">
        <polygon fill="#ed9600" stroke="#FFFFFF" points="237.675,128.718 237.242,128.87 225.491,133.013 213.572,136.353    212.839,135.817 211.015,134.521 210.684,132.47 215.163,128.792 214.808,122.526 216.015,121.3 216.777,120.522 217.694,119.593    219.619,119.687 220.441,118.466 230.907,118.11 232.128,125.048 237.65,127.507  "></polygon>
        <text transform="matrix(1 0 0 1 219.6348 126.4326)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BAY</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Bartın')">
    <g id="il-74" style="opacity: 1;">
        <polygon fill="#a7050e" stroke="#FFFFFF" points="52.871,86.425 42.604,92.927 39.852,93.909 38.378,87.116 35.594,85.497    40.543,81.161 41.369,81.347 42.468,80.337 42.979,80.774 48.151,77.61 49.007,78.017 49.357,77.741  "></polygon>
        <text transform="matrix(1 0 0 1 41.3525 84.4639)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BRT</text>
    </g>
 </a>
     

      
 <a xlink:href="#" onclick="toggleTable('Karabük')">
    <g id="il-78" style="opacity: 1;">
        <polygon fill="#ed9600" stroke="#FFFFFF" points="60.547,101.905 55.604,104.698 52.242,104.073 46.399,109.288 40.342,105.565    40.27,103.997 36.593,103.003 36.053,100.622 36.714,99.462 36.714,99.46 36.785,97.403 38.382,96.534 39.729,94.173    38.378,87.116 39.852,93.909 42.604,92.927 52.871,86.425 55.25,87.14 57.729,91.091 55.25,98.698 58.223,100.497 58.225,100.497     "></polygon>
        <text transform="matrix(1 0 0 1 44.2827 99.2764)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KRB</text>
    </g>

 </a>
    
      
 <a xlink:href="#" onclick="toggleTable('Düzce')">
    <g id="il-81" style="opacity: 1;">
        <polygon fill="#ed9600" stroke="#FFFFFF" points="26.972,102.481 26.551,105.181 19.763,108.864 18.605,112.72 18.914,113.298    18.763,114.118 6.61,115.085 6.357,113.542 8.009,112.267 9.244,101.54 12.605,101.013 16.667,101.923 16.986,101.938  "></polygon>
        <text transform="matrix(1 0 0 1 11.6797 107.2432)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">DÜZ</text>
    </g>
 </a>
     
      </svg>


        <%- include("partials/karadenizbars.ejs") %> 
        <%- include("partials/tables.ejs") %> 
        <script src="/tablo_kontrol.js"></script>
</body>
</html>
<%- include("partials/footer.ejs") %>