<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>İl Seçiniz</h1>

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="marmara" x="0px" y="0px" "="" viewBox="0 0 280 207" enable-background="new 0 0 280 207" xml:space="preserve">


        <a xlink:href="#" onclick="toggleTable('Balıkesir')">
            <g id="il-10" style="opacity: 1;">
                <polygon fill="#a7050e" stroke="#FFFFFF" points="148.213,195.936 148.885,198.357 148.008,198.797 120.942,206 115.056,194.551    107.628,193.17 111.005,189.031 80.04,178.479 53.814,198.509 51.018,192.83 46.381,191.673 62.234,177.127 61.955,176.275    63.055,173.909 62.017,171.075 49.202,173.249 49.481,162.717 67.335,156.204 69.479,157.464 73.058,155.965 77.235,157.861    77.271,157.876 77.35,157.841 83.239,155.214 87.951,153.111 90.321,145.63 88.191,143.656 90.291,134.848 87.789,133.363    86.479,133.803 86.085,131.257 94.765,123.404 94.197,121.831 95.537,120.988 100.027,122.143 101.291,121.559 102.799,122.551    108.692,117.434 105.414,116.779 100.221,110.514 101.551,107.436 117.258,111.568 110.681,116.775 113.651,118.98    125.556,116.674 120.478,125.628 122.92,125.93 139.215,151.616 145.039,160.797 146.885,159.908 149.953,161.125 149.279,161.928    151.656,166.146 153.012,166.262 155.596,168.708 162.477,169.025 163.75,171.438 165.088,171.874  "></polygon>
                <text transform="matrix(1 0 0 1 104.0767 164.8027)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BAL</text>
            </g>
        </a>

        
      <a xlink:href="#" onclick="toggleTable('Bilecik')">
        <g id="il-11" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="250.973,130.835 245.846,131.721 237.484,147.434 232.627,146.906    221.584,167.309 221.086,167.383 210.359,168.882 197.926,156.781 198.477,149.007 201.463,149.646 203.529,149.971    204.082,146.773 199.998,135.961 207.182,123.238 205.301,119.395 210.395,110.318 210.395,110.314 211.42,104.398    221.502,117.794 229.475,116.758 230.156,115.941 238.146,117.023 238.605,119.38 246.549,120.348 246.299,121.259  "></polygon>
            <text transform="matrix(1 0 0 1 218.1133 138.9551)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BİL</text>
        </g>
      </a>

      <a xlink:href='#' onclick="toggleTable('Bursa')">
        <g id="il-16" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="211.42,104.398 210.395,110.314 210.395,110.318 205.301,119.395    207.182,123.238 199.998,135.961 204.082,146.773 203.529,149.971 201.463,149.646 198.477,149.007 193.172,150.563    186.367,147.725 175.047,173.048 172.459,172.264 169.895,173.45 165.088,171.874 163.75,171.438 162.477,169.025 155.596,168.708    153.012,166.259 151.656,166.146 149.279,161.928 149.953,161.125 146.885,159.908 145.039,160.797 139.215,151.616 122.92,125.93    120.478,125.628 125.556,116.674 168.09,118.591 169.729,114.918 172.688,113.936 167.297,110.645 164.008,112.159    154.145,107.025 159.146,104.33 161.309,103.161 164.371,104.79 165.912,104.798 165.916,104.798 182.605,104.861 186.494,104.798    186.553,104.798 196.115,104.645 196.123,104.645  "></polygon>
            <text transform="matrix(1 0 0 1 162.916 138.9551)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">BRS</text>
        </g>
      </a>
     <a xlink:href="#" onclick="toggleTable('Çanakkale')">
        <g id="il-17" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="88.191,143.656 90.321,145.63 87.951,153.111 83.239,155.212 77.35,157.841    77.235,157.861 73.058,155.965 69.479,157.464 67.335,156.204 49.481,162.717 49.167,171.671 49.202,173.249 19.67,178.824    24.01,155.876 22.512,153.328 25.916,142.604 27.266,143.516 27.266,137.381 23.828,139.202 27.092,119.984 56.245,104.007    54.07,98.896 53.054,99.041 54.557,93.835 65.044,88.914 67.537,92.07 66.996,99.529 66.748,102.943 33.2,129.061 33.459,134.094    27.266,137.381 27.266,143.516 78.982,111.227 81.67,114.533 81.022,117.352 94.197,121.831 94.765,123.404 86.085,131.257    86.479,133.803 87.789,133.361 90.291,134.848  "></polygon>
            <text transform="matrix(1 0 0 1 42.1924 148.8438)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">ÇNK</text>
        </g>
  
     </a>
     
      <a xlink:href="#" onclick="toggleTable('Edirne')">
        <g id="il-22" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="60.81,30.335 65.729,34.558 62.464,53.842 59.775,53.161 60.411,65.836    52.805,70.753 54.557,93.835 54,95.857 53.054,99.041 53.002,99.218 44.141,101.059 42.471,103.113 19.93,102.707 17.391,94.533    20.729,93.563 28.539,82.368 29.723,82.293 33.151,78.467 32.801,76.699 34.165,75.124 32.02,59.307 46.57,53.469 45.016,35.499    32.757,26.377 34.777,20.668 41.951,19.973 43.636,18.079 43.746,12.773 66.207,8.288 66.243,8.28  "></polygon>
            <text transform="matrix(1 0 0 1 38.248 62.541)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">EDR</text>
        </g>
      </a>
    

      <a xlink:href="#" onclick="toggleTable('İstanbul')">
        <g id="il-34" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="208.922,71.19 195.904,82.238 187.488,75.299 178.172,84.439 166.912,77.565    166.258,74.005 169.729,67.824 169.137,64.686 173.223,60.629 169.729,59.455 170.584,61.662 167.586,64.8 168.479,67.115    160.412,77.674 145.236,77.668 143.66,70.942 142.271,71.755 142.986,75.788 121.523,71.388 124.424,44.921 128.549,42.037    169.701,59.39 173.279,60.591 208.559,65.915  "></polygon>
            <text transform="matrix(1 0 0 1 176.6416 71.5391)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">İST</text>
        </g>  
      </a>
   
      <a xlink:href="#" onclick="toggleTable('Kırklareli')">
        <g id="il-39" style="opacity: 1;">
            <polygon fill="#137bbb" stroke="#FFFFFF" points="128.549,42.037 124.424,44.921 114.835,42.234 110.91,44.132 106.593,42.53    99.195,45.538 94.046,58.931 90.591,61.001 62.464,53.842 65.729,34.558 60.81,30.335 66.207,8.288 67.703,2.188 74.781,4.265    76.166,1.698 78.459,1 92.437,14.071 101.44,10.027 105.678,11.98 109.679,8.352 111.994,9.609 113.987,8.722 115.943,9.625    117.424,16.515 115.052,15.724 113.572,17.106  "></polygon>
            <text transform="matrix(1 0 0 1 78.9946 30.8965)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KRK</text>
        </g>
      </a>
      

      <a xlink:href="#" onclick="toggleTable('Kocaeli')">
        <g id="il-41" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="230.488,79.147 229.633,80.134 231.881,81.65 222.01,101.442 211.42,104.398    196.123,104.645 196.115,104.645 186.553,104.798 186.643,100.991 186.805,96.85 190.391,94.013 193.275,97.104 210.107,95.059    211.943,92.873 211.025,91.705 190.375,91.852 182.883,91.908 181.486,88.242 179.395,88.488 178.559,87.715 180.006,86.991    179.51,85.316 178.172,84.439 187.488,75.299 195.904,82.238 208.922,71.19 208.559,65.915 212.723,66.378 213.195,65.794    223.719,66.408 229.049,61.718 236.455,64.648 234.316,70.271 235.244,72.772 237.184,73.113 237.336,73.428 240.154,74.48    238.182,80.005  "></polygon>
            <text transform="matrix(1 0 0 1 205.9063 85.8574)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">KCL</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Sakarya')">
        <g id="il-54" style="opacity: 1;">
            <polygon fill="#ed9600" stroke="#FFFFFF" points="259.951,93.956 256.395,96.701 256.939,100.022 256.947,101.442 249.494,104.6    244.861,114.467 247.695,117.618 246.549,120.348 238.605,119.38 238.146,117.023 230.156,115.941 229.475,116.758    221.502,117.794 211.42,104.398 222.01,101.442 231.881,81.65 229.633,80.134 230.488,79.147 238.182,80.005 240.154,74.48    237.336,73.428 237.184,73.113 235.244,72.772 234.316,70.271 236.455,64.648 262.609,70.867  "></polygon>
            <text transform="matrix(1 0 0 1 233.7695 98.3311)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">SAK</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Tekirdağ')">
        <g id="il-59" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="124.424,44.921 121.523,71.388 66.748,102.943 66.996,99.529 67.537,92.07    65.044,88.914 54.557,93.835 52.805,70.753 60.411,65.836 59.775,53.161 62.464,53.842 90.591,61.001 94.046,58.931 99.195,45.538    106.593,42.53 110.91,44.132 114.835,42.234  "></polygon>
            <text transform="matrix(1 0 0 1 83.5552 74.5527)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">TEK</text>
        </g>
      </a>
     

      <a xlink:href="#" onclick="toggleTable('Yalova')">
        <g id="il-77" style="opacity: 1;">
            <polygon fill="#a7050e" stroke="#FFFFFF" points="186.863,95.32 186.805,96.85 186.643,100.991 186.494,104.781 186.494,104.798    182.693,104.861 182.605,104.861 165.916,104.798 165.912,104.798 164.371,104.79 161.309,103.161 159.146,104.33 156.33,102.829    158.4,99.102 157.652,96.449  "></polygon>
            <text transform="matrix(1 0 0 1 168.0527 103.1582)" fill="#FFFFFF" font-family="'Helvetica'" font-size="4">YAL</text>
        </g>
      </a>
    
      </svg>
  


  
      <%- include("partials/marmarabars.ejs") %> 
      <%- include("partials/tables.ejs") %> 
        <script src="/tablo_kontrol.js"></script>
</body>
 

</html>
<%- include("partials/footer.ejs") %>